/* catalog */
.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog-bottom {
  padding-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.artist-information {
  width: calc(750 / 1600 * 100%);
}

.catalog-accordion {
  width: calc(800 / 1600 * 100%);
}

.catalog-item:first-child .catalog-item-tab {
  border-top: 1px solid var(--light-grey);
}
.catalog-item-tab {
  position: relative;
  padding: 41px 0;
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--light-grey);
  cursor: pointer;
  transition: border-color var(--transition-duration) var(--transition-t-f);
}

.catalog-item__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--dusty-black);
  transition-property: transform, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-t-f);
}

.catalog-item__btn {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: var(--milk);
  transform: translateY(-50%) rotate(-135deg);
  transform-origin: center;
  transition-property: transform, background-color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-t-f);
}

.catalog-item__btn::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 40%;
  /* transform: translate(-50%); */
  width: 11px;
  height: 11px;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
}

.catalog-item-content {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid transparent;
}

.artist-list {
  column-count: 3;
}

.artist-inf {
  display: none;
}

.artist-inf__avatar {
  margin-bottom: 30px;
  width: 100%;
}

.artist-inf__name {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--dusty-black);
}

.artist-item__name,
.to-gallery-link {
  border-bottom: 1px solid transparent;
  transition-property: border-color, color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-t-f);
}

.artist-inf__data {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--dusty-grey);
}

.artist-inf__vita {
  margin-bottom: 15px;
}

.to-gallery-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--lavander);
}

.artist-empty {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 190px;
}

.artist-empty > .artist-empty__frame {
  margin-right: 24px;
  position: relative;
  flex-grow: 1;
  width: 45%;
  max-width: 275px;
  border: 2px solid #B7B7B7;
}

.artist-empty__frame::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: #B7B7B7;
}

.artist-empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
  max-width: 275px;
}

.artist-empty__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--dusty-black);
}

.artist-empty__descr {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  color: var(--dusty-black);
}

.catalog-item:first-child .catalog-item-tab:hover, .catalog-item-tab:hover {
  border-color: var(--lavander);
}
.catalog-item-tab:hover .catalog-item__title {
  color: var(--lavander);
}
.catalog-item-tab:hover .catalog-item__btn {
  background-color: var(--lavander-light);
}

.catalog-item-tab:focus {
  outline: transparent;
}
.catalog-item-tab:focus .catalog-item__title {
  outline: transparent;
  background-color: var(--lavander);
  color: var(--white);
}
.catalog-item-tab:focus .catalog-item__btn {
  background-color: var(--lavander-light);
}

.catalog-item:first-child .catalog-item-tab.ui-state-active,
.catalog-item-tab.ui-state-active,
.catalog-item-tab.ui-state-active .catalog-item__title {
  border-color: var(--lavander-dark);
  color: var(--lavander-dark);
}
.catalog-item-tab.ui-state-active .catalog-item__btn {
  border-color: var(--lavander);
  background-color: var(--lavander-light);
  transform: translateY(-50%) rotate(45deg);
}
.catalog-item-content.ui-accordion-content-active {
  border-color: var(--light-grey);
}

.artist-item__name:hover,
.to-gallery-link:hover {
  color: var(--lavander);
  border-color: var(--lavander);
}

.artist-item__name:focus,
.to-gallery-link:focus {
  color: var(--white);
  background-color: var(--lavander);
  outline: transparent;
}

.artist-item__name:active,
.to-gallery-link:active {
  color: var(--lavander-dark);
}
.artist-item__name--active {
  color: var(--lavander-dark);
}

.artist-inf--active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation-name: fade-in;
  animation-duration: .3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
